.input {
    margin: 10px;
    border-radius: 5px;
    padding: 2px 4px;
    height: 20px;
}

.input:focus {
    outline: none;
    border: gray solid 2px;
    background: whitesmoke;
}

.input:hover {
    background: whitesmoke;
    transition: all 0.5s ease;
}

.superInput {
    color: black;
}

.errorInput {
    border: 2px solid red;
    background: lightgrey;
    margin: 10px;
    color: black;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}