.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid;

}

.spanClassName {

}

.checkbox:checked {
    background-color: #3a7999;
    border: 2px solid gray;

}